
.Navbar{
    background-color: #202020;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Navbar nav ul li{
    display: inline-block;
    margin: 1.5vw;
}

.Navbar nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

.Navbar a:hover{
    color:  #E1AD01;
}

.Navbar .NavbarMobile{
    display: none;
}

@media(max-width:600px){
    .Navbar .Navigation{
        display: none;
        width: 100%;
    }

    .Navbar .NavbarMobile{
        display:flex;
        align-items: center;
    }
    .Navbar .NavbarMobile .Hamburger{
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
    .Navbar nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        text-align: center;
        top: 50px;
        background-color: #202020;
        width: 100%;
        /* border-top: 3px solid #1A1A1A; */
    }
    .Navbar{
        opacity: 0.9;
        height: 50px;
    }
}